.main-interface {
    /*margin-top: 20px;
    border: 1px solid;
    border-radius: 15px;
    padding: 15px;*/
}

.season-at-a-glance {
    position: relative;
    margin-top: 10px;
}

@media(max-width: 768px){
    .season-at-a-glance {
        margin-top: 0;          /* on small screens, the top border for spacing isn't needed */
    }
}

@media(min-width:768px) and (max-width: 992px){
    .season-at-a-glance .label {
        font-size: 8px;
    }
}

.player-image {
    width: 100%;
    height: auto;
}

.stat-grid {
    width: 500px;
    height: 250px;
}
